body,p,ul,li,h1,h2 {
	padding: 0;
	margin: 0;
}
body {
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
}
li {
	list-style: none;
}
a {
	text-decoration: none;
}
#header {
	padding: 10px 0;
	width: 100%;
	background: #1EA756;	
	color: #fff;
}
#header h1 {
	display: inline-block;
	padding: 10px 20px;
	color: #fff;
	font-size: 36px;	
}

/* 用户信息 */
.userInfo {
	float: right;
	margin-right: 20px;
	padding-left: 70px;
}
.userInfo p {
	clear: top;	
	font-size: 20px;
	color: #fff;	
}
#content {
	overflow: hidden;
}

.left {
	float: left;
	width: 20%;
	min-height: 600px;
	text-align: center;
	color: #fff;
	background: #32323A;
}
.right {
	float: left;
	width: 80%;
	min-height: 600px;
	background: #ededed;
}
/* 侧栏菜单 */
.nav li {
	padding: 15px 20px;
	font-weight: bold;
	text-align: center;
	color: #fff;
	cursor: pointer;
}
.nav li:hover {
	background: #1EA756;
}
.selected {
	background: #1EA756;
}
.mod {
	width: 100%;
	display: none;
}

/* tab */
.tab_ban {
	margin: 5% auto;
	width: 85%;
	background: #F5F5F5;
	border: 1px solid #DFDFDF;
}
.tab_ban h2,.tab_ban p {
	padding: 10px;
	border-bottom: 1px solid #DFDFDF;
}
.info_change input {
	border: 1px solid #DFDFDF;
	height: 30px;
}

/* 密码匹配 */
.error, .ok, .empty {
	display: none;
}
.error {
	color: #F92C2C;
}
.ok {
	color: #1EA756;
}

/* 选择科目 */
.send,#choose,.save {
	margin: 20px 20px;
	padding: 8px;	
	font-size: 15px;
	border: 0;
	background: #1EA756;
	cursor: pointer;
	color: #fff;
}
.save {
	padding: 10px 40px;
}
.send {
	display: none;
	padding: 10px 40px;
}
/* 浮层 */
.box {	
	display: none;
	position: absolute;	
	top: 100px;
	left: 100px;
	padding-bottom: 8px;	
	z-index: 999;
	width: 500px;
	background: #fff;
}
.box .close {
	display: block;
	position: absolute;
	top: 12px;
	right: 20px;
	color: #fff;
	cursor: pointer;
}
.box h1,.box h2 {
	padding: 5px 5px;
	margin-bottom: 10px;
	color: #fff;
	background: #1EA756;
}
/* 遮罩 */
.cover {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 888;	
	width: 100%;
	height: 100%;
	background: #000;
	opacity: 0.4;
	filter: Alpha(opacity=40);/* 兼容IE */	
}
.box h2 {
	background: #1EA756;
	padding: 10px;
}
.subject {
	padding: 10px;
	color: #000;
}
.subject_box,.subject_outer {
	display: none;
}  
