body {
	margin: 0;
	padding: 0;
}
.main {
	float: left;
	width: 800px;
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}
.leftTime {
	float: left;
	margin-left: 20px;
	width: 200px;
	color: red;
	font-size: 20px;
	font-weight: bold;
}
.right {
	float: left;
	margin-left: 50px;
	width: 260px;
}
.sendPage {
	padding: 8px 15px;
	border: 0;
	color: #fff;
	background: #32B5E3;
}
.main .question {
	padding-left: 50px;
	padding-bottom: 15px;
	border-bottom: 1px solid #eee;
}